.tablabusqueda{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#tablabusqueda{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.fila{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
#fila{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
